In [1]:
import pandas as pd
import numpy as np
import pickle

from quartile_v2 import retr_ready

import random

b'Skipping line 32712: expected 20 fields, saw 21\nSkipping line 32713: expected 20 fields, saw 21\n'
b'Skipping line 20760: expected 20 fields, saw 21\nSkipping line 22914: expected 20 fields, saw 21\n'
b'Skipping line 19393: expected 20 fields, saw 21\nSkipping line 19394: expected 20 fields, saw 21\n'
b'Skipping line 33757: expected 20 fields, saw 21\n'
b'Skipping line 19053: expected 20 fields, saw 21\nSkipping line 20953: expected 20 fields, saw 21\n'

## Part 1: Sample Count Calc. Function

In [2]:
def samp_calc(pop, z=1.96, moe=.04, p=.5):
    s = z**2 * p * (1-p) / moe**2

    adjs = s / (1+((s-1)/pop))

    return round(adjs)

In [3]:
samp_calc(700)

323

## Part 2: Sample Count Matrices

In [4]:
with open("q1_jrnl_df", "rb") as fp:
    q1_jrnl_df = pickle.load(fp)

with open("q2_jrnl_df", "rb") as fp:
    q2_jrnl_df = pickle.load(fp)

In [5]:
with open("q1_date_df", "rb") as fp:
    q1_date_df = pickle.load(fp)

with open("q2_date_df", "rb") as fp:
    q2_date_df = pickle.load(fp)

#### ARTICLES - Sample Size

In [7]:
q1_jrnl_expladed, q1_a_td, q1_a_sh, q1_a_cr = retr_ready(q1_jrnl_df)

Here:

* __q1_jrnl_expladed__ -> expladed q1_jnrl_df

* __q1_a_td__ -> "Total Docs" matrix for Q1 articles

    * __q1_a_ss__ ->  _q1_a_tc.applymap(samp_calc)_ -> Sample size matrix for Q1 articles
    *

* __q1_a_sh__ -> "Total Docs" matrix for SH_Results ==True Q1 articles

* __q1_a_cr__ -> "CR_Count" matrix for Q1 articles (CrossRef)

* __q1_a_cr - q1_artcl_ss__ -> Negative = PROBLEM!

In [8]:
q1_a_ss = q1_a_td.applymap(samp_calc)
q1_a_ss

Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Sbj_Area,,,,,,,,,,,
Agricultural and Biological Sciences,593,593,594,595,595,595,595,595,595,595,596
Arts and Humanities,581,583,585,586,587,587,587,588,589,590,592
"Biochemistry, Genetics and Molecular Biology",595,595,596,596,596,596,595,596,595,595,596
"Business, Management and Accounting",564,568,569,569,569,570,573,574,576,580,584
Chemical Engineering,578,580,582,585,587,588,589,589,589,590,591
Chemistry,592,593,594,594,594,595,595,595,595,595,596
Computer Science,582,585,586,585,587,588,588,590,591,593,594
Decision Sciences,474,479,499,500,504,502,516,516,522,528,545
Dentistry,524,535,537,536,539,539,536,541,544,545,550
Earth and Planetary Sciences,588,589,589,590,591,591,591,591,592,592,593
"Economics, Econometrics and Finance",546,549,556,554,555,556,556,560,564,568,575
Energy,571,575,576,579,582,582,584,584,585,588,590
Engineering,594,595,595,595,596,596,596,597,597,597,597
Environmental Science,586,587,588,589,590,590,590,591,593,593,594
Health Professions,554,556,557,560,561,562,562,563,563,566,569
Immunology and Microbiology,574,576,577,577,576,575,576,577,578,578,580
Materials Science,592,593,594,594,594,594,595,595,595,595,596
Mathematics,583,586,586,586,585,586,587,587,588,589,590
Medicine,599,599,599,599,599,599,599,599,599,599,599
Multidisciplinary,569,569,571,575,580,584,589,590,589,593,594
Neuroscience,576,578,579,579,579,580,581,581,581,581,580
Nursing,569,567,570,571,571,572,572,575,575,577,581
"Pharmacology, Toxicology and Pharmaceutics",583,586,587,585,586,585,585,585,587,589,589
Physics and Astronomy,594,595,595,595,595,595,595,594,595,596,595
Psychology,566,569,571,576,578,577,578,580,581,583,582
Social Sciences,590,591,591,592,593,593,593,594,594,595,597
Veterinary,540,541,547,546,542,544,542,543,552,554,569

In [9]:
q1_a_cr - q1_a_ss

Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Sbj_Area,,,,,,,,,,,
Agricultural and Biological Sciences,35712,35752,40452,46461,48001,49890,50554,50589,50394,53870,62037
Arts and Humanities,4189,7046,5831,6241,9554,6341,8976,8387,12408,13368,15675
"Biochemistry, Genetics and Molecular Biology",46685,49346,53812,61757,63962,56406,57655,54783,50593,54866,56925
"Business, Management and Accounting",3336,4328,4701,4789,5699,6546,7217,7059,8697,11726,12830
Chemical Engineering,12266,12409,13237,14861,15852,15868,14325,15048,18212,20666,23559
Chemistry,36382,36162,35935,38096,39872,38245,36907,32692,37093,45075,57826
Computer Science,13308,16966,17161,18576,20844,20903,23656,24889,30936,37500,46210
Decision Sciences,1403,1449,1834,1900,2148,2187,2421,2305,2796,2782,3798
Dentistry,1227,1379,1377,1350,1269,1240,1205,2487,1798,2472,2937
Earth and Planetary Sciences,22664,22426,23741,25522,27428,26972,28133,28348,31420,34443,38472
"Economics, Econometrics and Finance",2826,2904,3763,3259,3113,3721,3177,3779,4657,5817,7703
Energy,9574,11113,11306,14119,15188,15436,18017,16629,19368,21627,27929
Engineering,48480,53616,56420,60700,63286,64608,72828,76377,88935,100994,103783
Environmental Science,18658,19182,20831,23681,26006,25901,27584,25700,35832,38880,43985
Health Professions,2730,2460,2485,3496,3160,3146,3906,3765,2762,3451,5392
Immunology and Microbiology,7415,7677,7947,10587,10633,8085,8477,9772,10189,10499,12560
Materials Science,37458,40583,40565,44094,41798,40542,49573,41041,48043,47253,65368
Mathematics,12895,16237,15327,16132,15489,16655,19051,16674,18923,19563,21001
Medicine,138250,141827,155677,172591,185128,177027,183420,186566,183805,197595,227418
Multidisciplinary,4231,2070,893,2641,7824,13154,24094,27976,29933,44293,53691
Neuroscience,5948,8459,9068,8238,9035,9780,10122,12153,9741,9616,10124
Nursing,4159,3827,4342,4265,4720,6607,4476,5787,6470,7560,11271
"Pharmacology, Toxicology and Pharmaceutics",11985,13405,13750,12003,11618,10855,11704,12266,14701,20838,20647
Physics and Astronomy,48982,50537,51982,56185,53667,46876,55253,50151,58255,53005,57317
Psychology,5364,5061,6245,7663,8701,9486,10485,9283,10764,10875,9284
Social Sciences,12009,12908,13922,17577,18187,19963,22252,24627,28310,37164,55589
Veterinary,2771,2477,2446,2516,2575,2579,2969,2860,3684,5068,8279

It is seen that, the number of articles available are more than enough to satisfy the sample size requirements. GOOD NEWS!

### JOURNALS - Sample Size

In [10]:
# JOURNAL - TOTAL COUNT:
q1_j_tc = pd.pivot_table(data=q1_jrnl_expladed, columns="Year", index="Sbj_Area", values="Total_Docs", aggfunc="count")

# JOURNAL - SAMPLE SIZE:
q1_j_ss = q1_j_tc.applymap(samp_calc)

# JOURNAL - AVAILABLE:
q1_j_a = pd.pivot_table(data=q1_jrnl_expladed[q1_jrnl_expladed.SH_Results == True], columns="Year", index="Sbj_Area", values="Total_Docs", aggfunc="count")

Here:

* __q1_j_tc__ -> Total count for Q1 journals

* __q1_j_ss__ -> Sample size for Q1 journals

* __q1_j_a__ -> Total AVAILABLE for Q1 journals

* __q1_j_a - q1_j_ss__ -> Negative = PROBLEM

In [11]:
(q1_j_a - q1_j_ss).applymap(lambda x: x if x>0 else 0)

Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Sbj_Area,,,,,,,,,,,
Agricultural and Biological Sciences,59,36,54,74,85,96,91,87,100,119,119
Arts and Humanities,0,0,0,0,0,0,0,0,0,0,0
"Biochemistry, Genetics and Molecular Biology",18,27,24,31,39,36,51,20,19,40,28
"Business, Management and Accounting",0,0,0,0,0,0,0,0,0,0,0
Chemical Engineering,0,0,0,0,0,0,0,0,0,0,0
Chemistry,0,0,0,0,0,0,0,0,0,0,0
Computer Science,0,1,0,1,12,14,19,18,34,37,48
Decision Sciences,0,0,0,0,0,0,0,0,0,0,0
Dentistry,0,0,0,0,0,0,0,0,0,0,0
Earth and Planetary Sciences,6,0,2,12,19,11,13,8,20,16,17
"Economics, Econometrics and Finance",0,0,0,0,0,0,0,0,0,0,0
Energy,0,0,0,0,0,0,0,0,0,0,0
Engineering,101,108,121,137,138,145,136,145,161,190,196
Environmental Science,0,0,0,5,1,11,8,5,21,35,35
Health Professions,0,0,0,0,0,0,0,0,0,0,0
Immunology and Microbiology,0,0,0,0,0,0,0,0,0,0,0
Materials Science,21,13,17,23,15,19,25,13,20,32,37
Mathematics,0,0,0,1,9,15,16,13,16,14,19
Medicine,349,357,393,443,464,455,485,457,462,509,526
Multidisciplinary,0,0,0,0,0,0,0,0,0,0,0
Neuroscience,0,0,0,0,0,0,0,0,0,0,0
Nursing,0,0,0,0,0,0,0,0,0,0,0
"Pharmacology, Toxicology and Pharmaceutics",0,0,0,0,0,0,0,0,0,0,0
Physics and Astronomy,8,12,13,23,14,17,22,20,14,14,8
Psychology,0,0,0,0,0,0,0,0,0,0,0
Social Sciences,0,0,0,0,0,0,18,56,88,165,242
Veterinary,0,0,0,0,0,0,0,0,0,0,0

Unfortunately, the sample size for journals are greater than the number of available journals for some subject areas. 



This is because the articles can be compansated by using DATE_AVAILABLE journal articles, 

BUT DATE_AVAILABLE journals are in the minority & cant be compansated elsewhere.

___ASKED BRUNO FOR ADVICE, WILL MOVE ON FOR NOW!___

Will make a note of problematic S_A during writing!

## PART 3: Sample_Count Column

After some analysis, it is decided that one article will be included by default for each artcl/s_a

Therefore, all the articles retrieved so far can be utilized efficiently & maximum number of jorunals are inclueded for each cell!

As seen from below, only Medicine & Social Sciences (2020) have more jrnls than articles necessary. However, as most Medicine journals have multiple subject areas, the extras can count towards the remaining subject areas. This will be clear once Sample Size per journal is calculated.

In [12]:
q1_a_ss - q1_j_a

Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Sbj_Area,,,,,,,,,,,
Agricultural and Biological Sciences,278,294,271,246,235,222,225,225,209,185,185
Arts and Humanities,471,464,444,449,417,431,407,396,373,353,320
"Biochemistry, Genetics and Molecular Biology",323,309,308,298,288,286,270,305,305,280,299
"Business, Management and Accounting",467,469,465,468,450,440,441,437,415,387,390
Chemical Engineering,485,491,492,492,494,497,502,502,494,485,487
Chemistry,457,463,465,452,457,462,457,478,483,457,455
Computer Science,391,384,383,374,361,354,346,342,330,317,305
Decision Sciences,429,432,450,451,449,444,454,458,458,460,476
Dentistry,505,517,517,518,520,519,519,520,522,521,524
Earth and Planetary Sciences,410,415,412,400,390,397,393,398,382,386,384
"Economics, Econometrics and Finance",475,480,480,484,482,475,474,468,460,448,445
Energy,506,512,511,506,509,510,509,517,513,506,498
Engineering,204,193,178,159,156,146,152,145,116,80,85
Environmental Science,413,417,394,381,385,373,380,382,358,337,337
Health Professions,511,514,512,510,514,508,508,510,513,507,500
Immunology and Microbiology,519,510,509,505,501,506,509,504,510,500,502
Materials Science,392,397,394,388,393,385,377,389,378,359,356
Mathematics,416,403,395,384,376,362,360,360,353,349,349
Medicine,-185,-197,-236,-287,-308,-301,-333,-301,-309,-355,-369
Multidisciplinary,561,560,561,564,566,569,576,574,572,575,574
Neuroscience,517,513,507,506,503,508,497,501,504,506,505
Nursing,518,513,515,516,515,516,514,512,507,507,497
"Pharmacology, Toxicology and Pharmaceutics",492,495,495,492,491,487,483,478,484,472,482
Physics and Astronomy,428,423,418,408,416,411,404,406,408,401,406
Psychology,452,472,462,461,457,449,451,461,457,460,446
Social Sciences,329,325,298,263,242,214,171,127,90,2,-80
Veterinary,511,518,520,518,512,517,512,510,515,517,529

### THE WAY FORWARD:

The best course of action is decided to be:

Get 1 ARTICLE per JOURNAL/S_A (q1a), so that the __maximum number of journals is ensured!__

Then we can only use the article matrix (q1_artl_ss) (minus the current available articles) during sample size extraction!



So:

1- Add a s_a column to q1_date_df - DONE!

2- Merge this column to q1a, so we have a current count column - DONE!

3- Create a pivot from this column (current_count) to calculate the current status pivot

    3.5- substract from q1_artcl_ss to find missing & required artcl number

4- Randomly allocate these required artcl to appropriate journals

5- CR + SH loops for the allocated number of artcls for each jrnl

6- FINISH!!!

PS. any extra artcls (esp. for Medicine) can be dropped later on, as they are already extracted & will have a s_a column!

In [13]:
# Part 1:

def sa_finder(id):
    return random.choice(list(q1_jrnl_df.loc[id,"Sbj_Area"]))


q1_date_df["S_A"] = q1_date_df.JRNL_ID.map(sa_finder)

In [16]:
q1_date_df.groupby(["JRNL_ID", "S_A"]).title.count().value_counts()

1    34211
2       54
Name: title, dtype: int64

In [17]:
# Part 2:

q1_jrnl_expladed = pd.merge(left=q1_jrnl_expladed, right=q1_date_df.groupby(["JRNL_ID", "S_A"]).title.count(), left_on=["ID","Sbj_Area"], right_index=True, how="left")

q1_jrnl_expladed.rename(columns={"title": "Current_Count"}, inplace=True)

q1_jrnl_expladed['Current_Count'] =  q1_jrnl_expladed['Current_Count'].fillna(0).map(int)

In [18]:
q1_jrnl_expladed.head()

,ID,ISSN,Year,Sbj_Area,SH_Results,CR_Count,Total_Docs,Current_Count
0,1_11,"(00013765, 16782690)",2018,Multidisciplinary,True,294,307,1
1,1_12,"(00013765, 16782690)",2019,Multidisciplinary,True,305,307,1
2,1_13,"(00013765, 16782690)",2020,Multidisciplinary,False,363,363,0
3,1_14,"(00013765, 16782690)",2010,Multidisciplinary,True,101,100,1
4,1_15,"(00013765, 16782690)",2016,Multidisciplinary,True,204,205,1

In [20]:
q1_jrnl_expladed[q1_jrnl_expladed.SH_Results == True ].groupby("ID").Current_Count.sum().value_counts()

# It is seen that 196 journals do not have any articles currently! This must be fixed to ensure maximum jnrl inclusion!

1    34165
0      196
2       77
Name: Current_Count, dtype: int64

In [30]:
# The solution is to add a Current_Count column to q1_jnrl_df so that we can determine the missing jrnls
q1_jrnl_df["Current_Count"] = q1_jrnl_expladed[q1_jrnl_expladed.SH_Results == True ].groupby("ID").Current_Count.sum()


# Next, add Required_Count column to q1_jrnl_df
q1_jrnl_df["Required_Count"] = 0


# & +1 to each missing jnrl GIVEN THAT they are NOT medicine journals
q1_jrnl_df.loc[(q1_jrnl_df.Current_Count == 0) & (q1_jrnl_df.Sbj_Area.map(lambda x: "Medicine" not in x)),"Required_Count"] = 1


#  Finally use ID & Sbj_Area random choice to create Required_Count column on q1_jrnl_expladed as well
for ind, row in q1_jrnl_df[q1_jrnl_df.Required_Count == 1].iterrows():
    s_a = random.choice(list(row["Sbj_Area"]))

    q1_jrnl_expladed.loc[(q1_jrnl_expladed.ID == ind) & (q1_jrnl_expladed.Sbj_Area == s_a), "Required_Count"] = 1

In [44]:
q1_jrnl_df["Required_Count"].value_counts()

0    66812
1      104
Name: Required_Count, dtype: int64

In [63]:
q1_jrnl_df[q1_jrnl_df.SH_Results == False][["Current_Count","Required_Count"]].sum()

Current_Count     0.0
Required_Count    0.0
dtype: float64

In [64]:
q1_jrnl_expladed[q1_jrnl_expladed.SH_Results == False][["Current_Count","Required_Count"]].sum()

Current_Count     0
Required_Count    0
dtype: int64

Journal related issues should be all accounted for. Can create a current + required pivot 

Use this pivot to substract from q1_a_ss to get the final initial pivot

Loop through each cell & random choice & +1 Req_Count to each selected

In [71]:
q1_a_current = pd.pivot_table(data=q1_jrnl_expladed, columns="Year", index="Sbj_Area", values="Current_Count", aggfunc=sum)

q1_a_required = pd.pivot_table(data=q1_jrnl_expladed, columns="Year", index="Sbj_Area", values="Required_Count", aggfunc=sum)

q1_a_initial = q1_a_required + q1_a_current

q1_a_ss_init = q1_a_ss- q1_a_initial

Create a function that iterates each cell of above &

- if >0:
- filter q1_jrnl_expladed
- for in range(required):
- while req_count < CR_Count
- choose a row 
-  +=1 to req_count

In [81]:
with open("q1_jrnl_expladed","wb") as p:
    pickle.dump(q1_jrnl_expladed, p)

In [106]:
with open("q1_jrnl_expladed", "rb") as fp:
    q1_jrnl_expladed = pickle.load(fp)

In [108]:
for s_a, row in q1_a_ss_init.iterrows(): #iterate over rows
    for year, value in row.items():
        if value < 0:
            pass
        else:
            for i in range(value):
                # select one: 
                sampl_ind = q1_jrnl_expladed[(q1_jrnl_expladed.SH_Results == True) & (q1_jrnl_expladed.Year == year) & (q1_jrnl_expladed.Sbj_Area == s_a) & (q1_jrnl_expladed.Current_Count + q1_jrnl_expladed.Required_Count < q1_jrnl_expladed.CR_Count)].sample(1).index
                sampl_rc = q1_jrnl_expladed.loc[sampl_ind, "Required_Count"]
                sampl_rc += 1
                q1_jrnl_expladed.loc[sampl_ind, "Required_Count"] = sampl_rc

In [115]:
q1_a_required_after = pd.pivot_table(data=q1_jrnl_expladed, columns="Year", index="Sbj_Area", values="Required_Count", aggfunc=sum)

THE LOOP IS COMPLETE AND THE REQUIRED COUNT COLUMN IS READY FOR DATA EXTRACTION!

Only we need to check if q1_jrnl_df Required Count is < CR_Count, as the filter was for expladed & we might have exceeded the threshold for the total jrnl.

In [122]:
q1_jrnl_df["Required_Count"] = q1_jrnl_expladed.groupby("ID").Required_Count.sum()

In [126]:
len(q1_jrnl_df[q1_jrnl_df.CR_Count<q1_jrnl_df.Required_Count])

13

It is seen that for 13 jrnls we have exceeed the CR_Count & will definitely get duplicate articles during extraction.

In [118]:
q1_a_ss - q1_a_required_after - q1_a_current

Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Sbj_Area,,,,,,,,,,,
Agricultural and Biological Sciences,0,0,0,0,0,0,0,0,0,0,0
Arts and Humanities,0,0,0,0,0,0,0,0,0,0,0
"Biochemistry, Genetics and Molecular Biology",0,0,0,0,0,0,0,0,0,0,0
"Business, Management and Accounting",0,0,0,0,0,0,0,0,0,0,0
Chemical Engineering,0,0,0,0,0,0,0,0,0,0,0
Chemistry,0,0,0,0,0,0,0,0,0,0,0
Computer Science,0,0,0,0,0,0,0,0,0,0,0
Decision Sciences,0,0,0,0,0,0,0,0,0,0,0
Dentistry,0,0,0,0,0,0,0,0,0,0,0
Earth and Planetary Sciences,0,0,0,0,0,0,0,0,0,0,0
"Economics, Econometrics and Finance",0,0,0,0,0,0,0,0,0,0,0
Energy,0,0,0,0,0,0,0,0,0,0,0
Engineering,0,0,0,0,0,0,0,0,0,0,0
Environmental Science,0,0,0,0,0,0,0,0,0,0,0
Health Professions,0,0,0,0,0,0,0,0,0,0,0
Immunology and Microbiology,0,0,0,0,0,0,0,0,0,0,0
Materials Science,0,0,0,0,0,0,0,0,0,0,0
Mathematics,0,0,0,0,0,0,0,0,0,0,0
Medicine,0,-9,-18,-71,-65,-70,-99,-72,-93,-92,-111
Multidisciplinary,0,0,0,0,0,0,0,0,0,0,0
Neuroscience,0,0,0,0,0,0,0,0,0,0,0
Nursing,0,0,0,0,0,0,0,0,0,0,0
"Pharmacology, Toxicology and Pharmaceutics",0,0,0,0,0,0,0,0,0,0,0
Physics and Astronomy,0,0,0,0,0,0,0,0,0,0,0
Psychology,0,0,0,0,0,0,0,0,0,0,0
Social Sciences,0,0,0,0,0,0,0,0,0,0,0
Veterinary,0,0,0,0,0,0,0,0,0,0,0

Also, after the extraction loop may need to drop these extra Medicine articles! Will leave for now!

### NEXT STEPS:

- Calc. sample count for Q2 jnrls as well (can repeat the same steps as Q1)

- Deal with problematic 13 jrnls (prob. manually)

- Create SumCetCet loop for Q1 final extraction!

In [128]:
with open("q1_jrnl_expladed","wb") as p:
    pickle.dump(q1_jrnl_expladed, p)

with open("q1_jrnl_df","wb") as p:
    pickle.dump(q1_jrnl_df, p)

### Fixing the problematic 13 journals:

After some consideration, it is decided to just eliminate the problematic journals, as there will most probably be other issues (such as duplicate articles) during final extraction phase. Dealing with all of them together will be less time consuming (hopefully)!

In [139]:
prb_13 = q1_jrnl_df[q1_jrnl_df.CR_Count<q1_jrnl_df.Required_Count].index.tolist()

In [148]:
print(prb_13)

['1_26754', '1_26808', '1_26814', '1_27066', '1_27067', '1_27074', '1_27169', '1_27175', '1_49259', '1_49674', '1_54183', '1_54184', '1_61661']

In [141]:
q1_jrnl_expladed.loc[q1_jrnl_expladed.ID.map(lambda x: x in prb_13), "Required_Count"] = 0

q1_jrnl_df[q1_jrnl_df.CR_Count<q1_jrnl_df.Required_Count]

In [147]:
q1_jrnl_df.loc[q1_jrnl_df.CR_Count<q1_jrnl_df.Required_Count, "Required_Count"] = 0

ID
1_26754    2
1_26808    5
1_26814    3
1_27066    3
1_27067    7
1_27074    2
1_27169    3
1_27175    9
1_49259    4
1_49674    3
1_54183    6
1_54184    2
1_61661    2
Name: Required_Count, dtype: int64

In [145]:
q1_jrnl_expladed[q1_jrnl_expladed.Required_Count != 0]

,ID,ISSN,Year,Sbj_Area,SH_Results,CR_Count,Total_Docs,Current_Count,Required_Count
0,1_11,"(00013765, 16782690)",2018,Multidisciplinary,True,294,307,1,37
1,1_12,"(00013765, 16782690)",2019,Multidisciplinary,True,305,307,1,23
3,1_14,"(00013765, 16782690)",2010,Multidisciplinary,True,101,100,1,100
4,1_15,"(00013765, 16782690)",2016,Multidisciplinary,True,204,205,1,53
5,1_16,"(00013765, 16782690)",2017,Multidisciplinary,True,268,256,1,47
...,...,...,...,...,...,...,...,...,...
100845,1_66910,"(8756758X, 14602695)",2014,Engineering,True,90,79,0,1
100846,1_66911,"(8756758X, 14602695)",2017,Materials Science,True,64,56,1,2
100848,1_66912,"(8756758X, 14602695)",2016,Materials Science,True,58,40,1,2
100852,1_66914,"(8756758X, 14602695)",2015,Materials Science,True,36,43,0,6
100853,1_66914,"(8756758X, 14602695)",2015,Engineering,True,73,86,1,1